.bgc-pres {
    background-image: linear-gradient(to right, #111 40%, #999);
}

.pres-bgc {
    background-image: linear-gradient(to left, #111 40%, #999);
}

.img-pres {
    height: 130px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
}

@for $i from 1 through 3 {
    .pre#{$i} {
        background-image: url(files/pre#{$i}.png);
    }
}

.title-pres {
    color: #fff;
    padding: 20px;
    font-family: $font1;

    h3 {
        text-align: left;
        color: $color1;
        font-family: $font1;
        font-size: 18px;
        font-weight: bold;
    }

    p {
        text-align: left;
        font-family: $font1;
        font-size: 16px;
        font-weight: normal;
    }
}