.container-fluid {
    display: flex;
    flex-wrap: wrap;

    .intel, .amd {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #333;
        padding: 0;
        justify-content: center;

        h3 {
            width: 100%;
            font-size: 20px;
            padding: 15px;
        }
    }

    .card {
        margin: 10px 8px;
        width: 250px;
        justify-content: center;
        border: 2px solid rgba(0, 0, 0, .150);
    
        .card-img-top {
            width: auto;
            height: 100px;
            margin: 0 auto;
        }
    
        .card-body {
            padding: 15px;
            justify-content: center;

            .card-title {
                font-size: 18px;
                text-align: center;
                font-weight: bold;
            }

            .card-text {
                font-size: 16px;
                text-align: center;
            }
    
            .btn {
                background-color: $color1 !important;
                border: 1px solid $bgcolor !important;
                margin: 0 auto;
            }
            
            .btn:hover {
                background-color: $bgcolor !important;
                border: 1px solid $color1 !important;
            }
            
            .btn:active {
                border: 1px solid $color1 !important;
            }
        }
    }
}