@media only screen and (min-width: 375px) and (max-width: 424px) {

    // INDEX 
    // INDEX 
    // INDEX
    body {
        overflow-x: hidden;
    }

    .navbar {
        background-color: $bgcolor;
        width: 100%;
        position: sticky;
    }

    .navbar-expand-md {
        padding: 0;

        .navbar-brand {

            h1 {
                font-size: 28px;
            }
        }

        .navbar-toggler {

            i {
                margin-right: 10px;
            }
        }
    }

    .carousel-indicators {
        li {
            color: #fff;
            height: 15px;
        }
    }

    .carousel-inner {

        .carousel-item {

            .banner {
                height: 180px;
                width: 100%;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        height: 180px;
    }

    .bgc-img {
        width: 100%;

        .img-section {
            width: 100%;
            background-position: center;
        }
    }

    // PRODUCTOS
    // PRODUCTOS
    // PRODUCTOS
    .p-photos {

        .tam-notes {
            height: 110px;
            width: auto;
        }

        .tam-procesadores {
            height: 130px;
            width: auto;
        }

        .tam-graficas {
            height: 180px;
            width: auto;
        }

        .tam-mother {
            height: 140px;
            width: auto;
        }

        .tam-ddr4 {
            height: 110px;
            width: auto;
        }

        .tam-ddr5 {
            height: 120px;
            width: auto;
        }

        .tam-storage {
            height: 150px;
            width: auto;
        }

        .tam-nvme {
            height: 170px;
            width: auto;
        }

        .tam-fuente {
            height: 120px;
            width: auto;
        }

        .tam-refriaire {
            height: 160px;
            width: auto;
        }

        .tam-refriliquid {
            height: 100px;
            width: auto;
        }

        .tam-gabinetes {
            height: 160px;
            width: auto;
        }

        .tam-monitores {
            height: 125px;
            width: auto;
        }

        .tam-teclados {
            height: 100px;
            width: auto;
        }

        .tam-mouses {
            height: 190px;
            width: auto;
        }

        .tam-mousepad {
            height: 110px;
            width: auto;
        }

        .tam-auris {
            height: 150px;
            width: auto;
        }
    }

            // PRODUCTOS - CARDS
            // PRODUCTOS - CARDS
            // PRODUCTOS - CARDS
            .cards {

                .element {
                    
                    .card {
                        width: 300px;

                        .card-body {

                            .btn {
                                margin-left: 60px;
                            }
                        }
                    }
                }
            }

    // PRESUPUESTOS
    // PRESUPUESTOS
    // PRESUPUESTOS
    .bgc-pres {
        width: 100%;
    }

    .pres-bgc {
        width: 100%;
    }

    .img-pres {
        width: 100%;
        background-position: center;
    }


    // CONTACTO
    // CONTACTO
    // CONTACTO
    .grey {

        .contacto {
            font-size: 22px;
        }

        .form-contact {

            form {

                label {
                    font-size: 20px;
                }
            }
        }
    }

    // POLITICA DE PRIVACIDAD
    // POLITICA DE PRIVACIDAD
    // POLITICA DE PRIVACIDAD
    .pdp {
        width: 100%;

        h2 {
            font-size: 22px;
        }
    }
}

@media only screen and (min-width: 425px) and (max-width: 575px) {

    // INDEX 
    // INDEX 
    // INDEX
    body {
        overflow-x: hidden;
    }

    .navbar-expand-md {

        .navbar-brand {

            h1 {
                margin-left: 10px;
                font-size: 30px;
            }
        }

        .navbar-toggler {

            i {
                margin-right: 20px;
            }
        }
    }

    .carousel-indicators {
        li {
            color: #fff;
            height: 15px;
        }
    }

    .carousel-inner {

        .carousel-item {

            .banner {
                height: 200px;
                width: 100%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        height: 200px;
    }

    .slider {
        width: 100%;
        height: auto;
        margin: auto;
        overflow: hidden;
    
        .slide-track {
            display: flex;
            -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
            width: 150px * 28;
    
            .slide {
                width: 150px;
                padding-left: 10px;
    
                img {
                    width: 100%;
                }
            }
        }
    }
    
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    
        100% {
            -webkit-transform: translateX(-150px * 14);
            transform: translateX(-150px * 14);
        }
    }

    // PRODUCTOS
    // PRODUCTOS
    // PRODUCTOS
    .p-title {
        font-size: 25px;
    }

    .p-subtitle {
        font-size: 20px;
    }

    .p-photos {

        .tam-notes {
            height: 120px;
            width: auto;
        }

        .tam-procesadores {
            height: 130px;
            width: auto;
        }

        .tam-graficas {
            height: 180px;
            width: auto;
        }

        .tam-mother {
            height: 140px;
            width: auto;
        }

        .tam-ddr4 {
            height: 110px;
            width: auto;
        }

        .tam-ddr5 {
            height: 135px;
            width: auto;
        }

        .tam-storage {
            height: 150px;
            width: auto;
        }

        .tam-nvme {
            height: 180px;
            width: auto;
        }

        .tam-fuente {
            height: 130px;
            width: auto;
        }

        .tam-refriaire {
            height: 160px;
            width: auto;
        }

        .tam-refriliquid {
            height: 100px;
            width: auto;
        }

        .tam-gabinetes {
            height: 170px;
            width: auto;
        }

        .tam-monitores {
            height: 130px;
            width: auto;
        }

        .tam-teclados {
            height: 100px;
            width: auto;
        }

        .tam-mouses {
            height: 190px;
            width: auto;
        }

        .tam-mousepad {
            height: 110px;
            width: auto;
        }

        .tam-auris {
            height: 150px;
            width: auto;
        }
    }

            // PRODUCTOS - CARDS
            // PRODUCTOS - CARDS
            // PRODUCTOS - CARDS
            .cards {

                .element {

                    h3 {
                        font-size: 22px;
                    }

                    .card {
                        width: 180px;
                        height: 345px;

                        .card-img-top {
                            height: 130px;
                            width: auto;
                            max-width: 180px;
                        }

                        .card-body {

                            .card-title {
                                height: 75px;
                            }

                            .btn {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }

    // PRESUPUESTOS
    // PRESUPUESTOS
    // PRESUPUESTOS
    .container-fluid {

        .title-pres {

            h3 {
                font-size: 22px;
            }

            ul {
                
                li {
                    font-size: 18px;
                }
            }
        }
    }

    // CONTACTO
    // CONTACTO
    // CONTACTO
    .grey {

        .contacto {
            font-size: 25px;
        }

        .form-contact {

            form {

                label {
                    font-size: 22px;
                }
            }
        }
    }

    // POLITICA DE PRIVACIDAD
    // POLITICA DE PRIVACIDAD
    // POLITICA DE PRIVACIDAD
    .pdp {
        
        h2 {
            font-size: 25px;
        }
    }
}

