@media only screen and (min-width: 1440px) and (max-width: 2559px) {

    // INDEX
    // INDEX
    // INDEX
    .navbar-expand-md {

        .navbar-brand {

            h1 {
                margin-left: 30px;
                font-size: 40px;
            }
        }

        .navbar-toggler {

            i {
                margin-right: 20px;
            }
        }

        .collapse {

            .navbar-nav {

                .nav-item {

                    .nav-link {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .carousel-inner {

        .carousel-item {

            .banner {
                height: 450px;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        height: 450px;
    }

    .bgc-img {

        .img-section {
            height: 370px;
        }

        .title-i-section {

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 18px;
            }

            a {
                font-size: 18px;
            }
        }
    }

    .marcas {
        height: 100px;
    }

    .space {
        height: 650px;
    }

    // PRODUCTOS
    // PRODUCTOS
    // PRODUCTOS
    .p-title {
        font-size: 30px;
    }

    .p-subtitle {
        font-size: 25px;
    }

    .p-p {
        font-size: 20px;
    }

    .p-photos {

        .tam-notes {
            height: 150px;
            width: auto;
        }

        .tam-procesadores {
            height: 170px;
            width: auto;
        }

        .tam-graficas {
            height: 175px;
            width: auto;
        }

        .tam-mother {
            height: 160px;
            width: auto;
        }

        .tam-ddr4 {
            height: 120px;
            width: auto;
        }

        .tam-ddr5 {
            height: 150px;
            width: auto;
        }

        .tam-storage {
            height: 155px;
            width: auto;
        }

        .tam-nvme {
            height: 170px;
            width: auto;
        }

        .tam-fuente {
            height: 130px;
            width: auto;
        }

        .tam-refriaire {
            height: 180px;
            width: auto;
        }

        .tam-refriliquid {
            height: 110px;
            width: auto;
        }

        .tam-gabinetes {
            height: 200px;
            width: auto;
        }

        .tam-monitores {
            height: 170px;
            width: auto;
        }

        .tam-teclados {
            height: 110px;
            width: auto;
        }

        .tam-mouses {
            height: 200px;
            width: auto;
        }

        .tam-mousepad {
            height: 130px;
            width: auto;
        }

        .tam-auris {
            height: 200px;
            width: auto;
        }
    }

    // PRESUPUESTOS
    // PRESUPUESTOS
    // PRESUPUESTOS

    .img-pres {
        height: 370px;
    }

    .title-pres {

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
        }

        a {
            font-size: 18px;
        }
    }

    // SERVICIOS
    // SERVICIOS
    // SERVICIOS
    .serv {
        background-image: url(../files/bgservices.jpg);
        background-position: left;

        .services {

            .subtitle-serv {
                background-color: rgba(255, 255, 255, 0.6);
            }

            .list {

                li {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }

    // CONTACTO
    // CONTACTO
    // CONTACTO
    .grey {
        background-image: url(../files/bgcontacto.jpg);
        background-position: center;

        .contacto {
            font-size: 25px;
        }

        .form-contact {

            form {

                label {
                    font-size: 22px;
                }

                .enviar {
                    width: 40%;
                }
            }
        }
    }

    .support {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 5px;
    }

    ul {

        .list-support {
            background-color: rgba(255, 255, 255, 0.3);
            padding: 5px;
        }
    }

    // POLITICA DE PRIVACIDAD
    // POLITICA DE PRIVACIDAD
    // POLITICA DE PRIVACIDAD
    .pdp {
        padding: 0 0 0 20px;

        h2 {
            font-size: 30px;
        }

        strong {
            font-size: 20px;
        }

        ul {
            padding: 0 0 0 20px;
        }
    }
}

@media only screen and (min-width: 2560px) {

    // INDEX
    // INDEX
    // INDEX
    .navbar-expand-md {

        .navbar-brand {
            height: 150px;

            h1 {
                margin-left: 30px;
                font-size: 65px;
                line-height: 140px;
            }
        }

        .navbar-toggler {

            i {
                margin-right: 20px;
            }
        }

        .collapse {

            .navbar-nav {

                .nav-item {

                    .nav-link {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .carousel-inner {

        .carousel-item {

            .banner {
                height: 800px;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        height: 800px;

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            height: 80px;
            width: 40px;
        }
    }

    .title-h2 {
        font-size: 50px;
    }

    .bgc-img {

        .img-section {
            height: 600px;
        }

        .title-i-section {

            h3 {
                font-size: 40px;
            }

            p {
                font-size: 25px;
            }

            a {
                font-size: 25px;
            }
        }
    }

    .marcas {
        height: 130px;
    }

    .space {
        height: 700px;
    }

    #footer {

        .foo {
            padding: 0 60px;

            h5 {
                font-size: 35px;
            }
        }

        .txt-foo {
            justify-content: space-between;
        }

        .social {

            .list-inline-item {

                .fa-brands {
                    font-size: 60px;
                    margin-left: 20px;
                }

                .fa-brands:hover {
                    font-size: 80px;
                }
            }
        }

        ul.quick-links {

            li {


                a {
                    font-size: 25px;
                }
            }
        }

        p {
            font-size: 25px;
        }
    }

    // PRODUCTOS
    // PRODUCTOS
    // PRODUCTOS
    .p-bg-gray {
        height: 500px;
    }

    .p-bg-white {
        height: 500px;
    }

    .p-title {
        font-size: 50px;
    }

    .p-subtitle {
        font-size: 40px;
    }

    .p-p {
        font-size: 30px;
    }

    .p-photos {

        .tam-notes {
            height: 300px;
            width: auto;
        }

        .tam-procesadores {
            height: 300px;
            width: auto;
        }

        .tam-graficas {
            height: 300px;
            width: auto;
        }

        .tam-mother {
            height: 250px;
            width: auto;
        }

        .tam-ddr4 {
            height: 300px;
            width: auto;
        }

        .tam-ddr5 {
            height: 300px;
            width: auto;
        }

        .tam-storage {
            height: 300px;
            width: auto;
        }

        .tam-nvme {
            height: 300px;
            width: auto;
        }

        .tam-fuente {
            height: 250px;
            width: auto;
        }

        .tam-refriaire {
            height: 300px;
            width: auto;
        }

        .tam-refriliquid {
            height: 250px;
            width: auto;
        }

        .tam-gabinetes {
            height: 300px;
            width: auto;
        }

        .tam-monitores {
            height: 300px;
            width: auto;
        }

        .tam-teclados {
            height: 250px;
            width: auto;
        }

        .tam-mouses {
            height: 300px;
            width: auto;
        }

        .tam-mousepad {
            height: 250px;
            width: auto;
        }

        .tam-auris {
            height: 300px;
            width: auto;
        }
    }

    // PRESUPUESTOS
    // PRESUPUESTOS
    // PRESUPUESTOS

    .img-pres {
        height: 600px;
    }

    .title-pres {

        h3 {
            font-size: 40px;
        }

        p {
            font-size: 25px;
        }

        a {
            font-size: 25px;
        }
    }


    // SERVICIOS
    // SERVICIOS
    // SERVICIOS
    .serv {
        background-image: url(../files/bgservices.jpg);
        background-position: left;

        .title-serv {
            font-size: 50px;
        }

        .services {

            .subtitle-serv {
                background-color: rgba(255, 255, 255, 0.6);
                font-size: 40px
            }

            .list {

                li {
                    background-color: rgba(255, 255, 255, 0.6);
                    font-size: 30px;
                }
            }
        }
    }

    // CONTACTO
    // CONTACTO
    // CONTACTO
    .grey {
        background-image: url(../files/bgcontacto.jpg);
        background-position: center;

        .contacto {
            font-size: 45px;
        }

        .form-contact {

            form {
                height: 700px;

                label {
                    font-size: 30px;
                }

                input {
                    height: 30px;
                }

                textarea {
                    height: 200px;
                }

                .enviar {
                    height: 6%;
                    width: 40%;
                    font-size: 25px;
                }
            }
        }

        .support {
            background-color: rgba(255, 255, 255, 0.3);
            padding: 5px;
            font-size: 45px;
        }

        ul {

            .list-support {
                background-color: rgba(255, 255, 255, 0.3);
                padding: 5px;
                font-size: 30px;
            }
        }
    }

    // POLITICA DE PRIVACIDAD
    // POLITICA DE PRIVACIDAD
    // POLITICA DE PRIVACIDAD
    .pdp {
        padding: 0 0 0 40px;

        h2 {
            font-size: 50px;
        }

        strong {
            font-size: 35px;
        }
    
        p {
            font-size: 30px;
        }

        ul {
            padding: 0 0 0 20px;
        }
    }
}