@media only screen and (min-width: 768px) and (max-width: 1023px) {

    // INDEX
    // INDEX
    // INDEX
    .navbar-expand-md {

        .navbar-brand {

            h1 {
                margin-left: 5px;
                font-size: 30px;
            }
        }

        .navbar-toggler {

            i {
                margin-right: 20px;
            }
        }

        .collapse {

            .navbar-nav {

                .nav-item {

                    .nav-link {
                        font-size: 14px;
                        padding: 5px;
                    }
                }
            }
        }
    }

    .carousel-inner {

        .carousel-item {

            .banner {
                height: 270px;
                width: 100%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        height: 270px;
    }

    .bgc-img {

        .img-section {
            height: 220px;
        }
    }

    .marcas {
        height: 80px;
    }

    .space {
        height: 850px;
    }

    #footer {

        ul.quick-links {

            li {


                a {
                    font-size: 15px;
                }
            }
        }
    }

    // PRODUCTOS
    // PRODUCTOS
    // PRODUCTOS
    .p-title {
        font-size: 25px;
    }

    .p-subtitle {
        font-size: 20px;
    }

    .p-photos {

        .tam-notes {
            height: 120px;
            width: auto;
        }

        .tam-procesadores {
            height: 140px;
            width: auto;
        }

        .tam-graficas {
            height: 170px;
            width: auto;
        }

        .tam-mother {
            height: 130px;
            width: auto;
        }

        .tam-ddr4 {
            height: 110px;
            width: auto;
        }

        .tam-ddr5 {
            height: 120px;
            width: auto;
        }

        .tam-storage {
            height: 140px;
            width: auto;
        }

        .tam-nvme {
            height: 190px;
            width: auto;
        }

        .tam-fuente {
            height: 105px;
            width: auto;
        }

        .tam-refriaire {
            height: 140px;
            width: auto;
        }

        .tam-refriliquid {
            height: 100px;
            width: auto;
        }

        .tam-gabinetes {
            height: 160px;
            width: auto;
        }

        .tam-monitores {
            height: 130px;
            width: auto;
        }

        .tam-teclados {
            height: 100px;
            width: auto;
        }

        .tam-mouses {
            height: 190px;
            width: auto;
        }

        .tam-mousepad {
            height: 100px;
            width: auto;
        }

        .tam-auris {
            height: 160px;
            width: auto;
        }
    }

    // PRESUPUESTOS
    // PRESUPUESTOS
    // PRESUPUESTOS

    .img-pres {
        height: 220px;
    }

    // SERVICIOS
    // SERVICIOS
    // SERVICIOS
    .serv {
        background-image: url(../files/bgservices.jpg);
        background-position: center;

        .services {

            .subtitle-serv {
                background-color: rgba(255, 255, 255, 0.6);
            }

            .list {

                li {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }

    // CONTACTO
    // CONTACTO
    // CONTACTO
    .grey {
        background-image: url(../files/bgcontacto.jpg);
        background-position: center;

        .contacto {
            font-size: 25px;
        }

        .form-contact {

            form {

                label {
                    font-size: 22px;
                }
            }
        }
    }

    .support {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 5px;
    }

    ul {

        .list-support {
            background-color: rgba(255, 255, 255, 0.3);
            padding: 5px;
        }
    }
}