.title-serv {
    width: 100%;
    color: $color3;
    background-color: $color1;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.p-serv {
    width: 100%;
    color: $color3;
    background-color: $color1;
    margin: 0;
    text-align: center;
}

.servicios {
    margin: 0;
    padding: 0;

    @for $i from 1 through 4 {
        .bgserv#{$i} {
            background-color: $color3;
            background-image: url(../files/bgserv#{$i}.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .serv {
        height: 400px;
        width: 100%;
        padding: 0;
        border-bottom: 2px solid #999;
        display: flex;
        flex-wrap: wrap;

        .subtitle-serv {
            justify-content: end;
            background-color: rgba(0, 0, 0, 0.525);
            color: $color2;

            h3 {
                font-size: 20px;
                text-decoration: underline;
                color: $color1;
            }

            p {
                font-size: 16px;
            }
        }
    }
}
