@font-face {
  font-family: "NVIDIA Sans";
  src: url("NVIDIASans-Regular.eot");
  src: local("NVIDIA Sans Regular"), local("NVIDIASans-Regular"), url("NVIDIASans-Regular.eot?#iefix") format("embedded-opentype"), url("NVIDIASans-Regular.woff2") format("woff2"), url("NVIDIASans-Regular.woff") format("woff"), url("NVIDIASans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NVIDIA Sans";
  src: url("NVIDIASans-Bold.eot");
  src: local("NVIDIA Sans Bold"), local("NVIDIASans-Bold"), url("NVIDIASans-Bold.eot?#iefix") format("embedded-opentype"), url("NVIDIASans-Bold.woff2") format("woff2"), url("NVIDIASans-Bold.woff") format("woff"), url("NVIDIASans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  font-family: "NVIDIA Sans" sans serif;
}

body {
  overflow-x: hidden;
}

.navbar {
  background-color: #343636;
  width: 100%;
  position: sticky;
}

.navbar-expand-md {
  padding: 0;
}
.navbar-expand-md .navbar-brand {
  height: 80px;
}
.navbar-expand-md .navbar-brand h1 {
  color: #fff;
  font-size: 25px;
  font-family: "NVIDIA Sans" sans serif;
  padding-right: 0;
  margin: 0;
  line-height: 70px;
  font-weight: bold;
}
.navbar-expand-md .navbar-brand span {
  color: #91c612;
  font-family: "NVIDIA Sans" sans serif;
}
.navbar-expand-md .navbar-toggler {
  padding: 0 !important;
}
.navbar-expand-md .navbar-toggler i {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 8px;
}
.navbar-expand-md .collapse .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5 all ease;
  font-family: "NVIDIA Sans" sans serif;
}
.navbar-expand-md .collapse .navbar-nav .nav-item .nav-link:hover {
  padding-left: 10px;
  color: #91c612;
}

.carousel-indicators li {
  color: #fff;
  height: 15px;
}

.carousel-inner .carousel-item .banner {
  height: 150px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.carousel-control-next,
.carousel-control-prev {
  height: 150px;
}

.nov {
  border-bottom: 1px solid #333;
  width: 100%;
}

.bgc-img {
  background-color: #000;
}
.bgc-img .img-section {
  background-color: #000;
  height: 130px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
.bgc-img .title-i-section {
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-family: "NVIDIA Sans" sans serif;
}
.bgc-img .title-i-section h3 {
  text-align: left;
  color: #91c612;
  font-family: "NVIDIA Sans" sans serif;
  font-size: 18px;
  font-weight: bold;
}
.bgc-img .title-i-section p {
  text-align: left;
  font-family: "NVIDIA Sans" sans serif;
  font-size: 16px;
  font-weight: normal;
}
.bgc-img .title-i-section a {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: #91c612;
  padding: 10px 30px;
  text-align: center !important;
  font-family: "NVIDIA Sans" sans serif;
  font-size: 16px;
}
.bgc-img .img1 {
  background-color: #000;
  background-image: url(../files/img1.jpg);
  background-position: center;
  background-size: contain;
}
.bgc-img .img2 {
  background-color: #000;
  background-image: url(../files/img2.jpg);
  background-position: center;
  background-size: contain;
}
.bgc-img .img3 {
  background-color: #000;
  background-image: url(../files/img3.jpg);
  background-position: center;
  background-size: contain;
}
.bgc-img .img4 {
  background-color: #000;
  background-image: url(../files/img4.jpg);
  background-position: center;
  background-size: contain;
}

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track {
  display: flex;
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  width: 3360px;
}
.slider .slide-track .slide {
  width: 120px;
  padding-left: 10px;
}
.slider .slide-track .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1680px);
    transform: translateX(-1680px);
  }
}
#footer {
  background: #343636 !important;
  padding: 60px 0;
  width: 100%;
}
#footer .container-fluid .foo {
  padding: 10px 20px;
}
#footer .container-fluid .foo h5 {
  padding-left: 10px;
  border-left: 3px solid #91c612;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #91c612;
  font-family: "NVIDIA Sans" sans serif;
  text-transform: uppercase;
}
#footer .container-fluid .foo .list-unstyled li a {
  color: #fff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-family: "NVIDIA Sans" sans serif;
}
#footer .container-fluid .foo .list-unstyled li i {
  color: #91c612;
}
#footer .container-fluid .foo .social li {
  padding: 3px 0;
}
#footer .container-fluid .foo .social li a {
  color: #91c612;
}
#footer .container-fluid .foo .social li a i {
  margin-right: 5px;
  font-size: 30px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer .container-fluid .foo .social li:hover a {
  font-family: "NVIDIA Sans" sans serif;
}
#footer .container-fluid .foo .social li:hover a i {
  font-size: 40px;
  margin-top: -10px;
}
#footer .container-fluid .foo .social li:hover a:hover {
  color: #eeeeee;
  font-family: "NVIDIA Sans" sans serif;
}
#footer .container-fluid .foo .quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer .container-fluid .foo .quick-links li a {
  color: #fff;
  font-family: "NVIDIA Sans" sans serif;
}
#footer .container-fluid .foo .quick-links li a i {
  margin-right: 5px;
}
#footer .container-fluid .foo .quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer .container-fluid .foo .quick-links li:hover a {
  font-family: "NVIDIA Sans" sans serif;
}
#footer .container-fluid .foo .quick-links li:hover a i {
  font-weight: 700;
}
#footer .container-fluid .h6 {
  color: #91c612;
  font-family: "NVIDIA Sans" sans serif;
}
#footer .container-fluid p a {
  color: #91c612;
  text-decoration: underline #91c612;
}

.p-title {
  text-align: center;
  font-weight: bold;
  font-family: "NVIDIA Sans" sans serif;
  font-size: 22px;
  background-color: #91c612;
  margin: 0;
  padding: 5px;
}
.p-title a {
  color: #fff;
  text-decoration: underline;
}
.p-title a:hover {
  color: #343636;
}

.p-bg-gray {
  background-color: #999;
  height: 300px;
}

.p-bg-white {
  background-color: #fff;
  height: 300px;
}

.p-subtitle {
  font-family: "NVIDIA Sans" sans serif;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding-top: 5px;
  font-weight: bold;
}

.p-p {
  text-align: center;
  font-family: "Nvidia Sans" sans-serif;
}

.p-photos {
  display: flex;
  justify-content: space-around;
}
.p-photos .tam-notes {
  height: 100px;
  width: auto;
}
.p-photos .tam-procesadores {
  height: 120px;
  width: auto;
}
.p-photos .tam-graficas {
  height: 170px;
  width: auto;
}
.p-photos .tam-mother {
  height: 120px;
  width: auto;
}
.p-photos .tam-ddr4 {
  height: 90px;
  width: auto;
}
.p-photos .tam-ddr5 {
  height: 105px;
  width: auto;
}
.p-photos .tam-storage {
  height: 140px;
  width: auto;
}
.p-photos .tam-nvme {
  height: 160px;
  width: auto;
}
.p-photos .tam-fuente {
  height: 100px;
  width: auto;
}
.p-photos .tam-refriaire {
  height: 150px;
  width: auto;
}
.p-photos .tam-refriliquid {
  height: 90px;
  width: auto;
}
.p-photos .tam-gabinetes {
  height: 150px;
  width: auto;
}
.p-photos .tam-monitores {
  height: 115px;
  width: auto;
}
.p-photos .tam-teclados {
  height: 90px;
  width: auto;
}
.p-photos .tam-mouses {
  height: 180px;
  width: auto;
}
.p-photos .tam-mousepad {
  height: 110px;
  width: auto;
}
.p-photos .tam-auris {
  height: 140px;
  width: auto;
}

.container-fluid .bgc-pres {
  background-image: linear-gradient(to right, #343636 40%, #888);
  border-bottom: 2px solid #91c612;
  align-items: center;
}
.container-fluid .pres-bgc {
  background-image: linear-gradient(to left, #343636 40%, #888);
  border-bottom: 2px solid #91c612;
  align-items: center;
}
.container-fluid .img-pres {
  height: 200px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
.container-fluid .pre1 {
  background-image: url(../files/presupuestos/pre1.png);
}
.container-fluid .pre2 {
  background-image: url(../files/presupuestos/pre2.png);
}
.container-fluid .pre3 {
  background-image: url(../files/presupuestos/pre3.png);
}
.container-fluid .pre4 {
  background-image: url(../files/presupuestos/pre4.png);
}
.container-fluid .pre5 {
  background-image: url(../files/presupuestos/pre5.png);
}
.container-fluid .pre6 {
  background-image: url(../files/presupuestos/pre6.png);
}
.container-fluid .title-pres {
  color: #fff;
  padding: 20px;
  font-family: "NVIDIA Sans" sans serif;
}
.container-fluid .title-pres h3 {
  text-align: left;
  color: #91c612;
  font-family: "NVIDIA Sans" sans serif;
  font-size: 20px;
  font-weight: bold;
}
.container-fluid .title-pres ul {
  list-style: none;
}
.container-fluid .title-pres ul li {
  text-align: left;
  font-family: "NVIDIA Sans" sans serif;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
}
.container-fluid .title-pres ul i {
  margin-right: 15px;
}
.container-fluid .title-pres .btn {
  background-color: #91c612 !important;
  border: 1px solid #343636 !important;
}
.container-fluid .title-pres .btn:hover {
  background-color: #343636 !important;
  border: 1px solid #91c612 !important;
}
.container-fluid .title-pres .btn:active {
  border: 1px solid #91c612 !important;
}

.title-serv {
  width: 100%;
  color: #000;
  background-color: #91c612;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.p-serv {
  width: 100%;
  color: #000;
  background-color: #91c612;
  margin: 0;
  text-align: center;
}

.servicios {
  margin: 0;
  padding: 0;
}
.servicios .bgserv1 {
  background-color: #000;
  background-image: url(../files/bgserv1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.servicios .bgserv2 {
  background-color: #000;
  background-image: url(../files/bgserv2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.servicios .bgserv3 {
  background-color: #000;
  background-image: url(../files/bgserv3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.servicios .bgserv4 {
  background-color: #000;
  background-image: url(../files/bgserv4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.servicios .serv {
  height: 400px;
  width: 100%;
  padding: 0;
  border-bottom: 2px solid #999;
  display: flex;
  flex-wrap: wrap;
}
.servicios .serv .subtitle-serv {
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.525);
  color: #fff;
}
.servicios .serv .subtitle-serv h3 {
  font-size: 20px;
  text-decoration: underline;
  color: #91c612;
}
.servicios .serv .subtitle-serv p {
  font-size: 16px;
}

.grey {
  background-image: linear-gradient(to bottom, rgb(234, 229, 198), rgb(245, 244, 243));
  background-size: cover;
  background-repeat: no-repeat;
}
.grey .contacto {
  color: #343636;
  padding: 30px 15px;
  font-size: 20px;
}
.grey .form-contact {
  background-color: rgba(0, 0, 0, 0.225);
  text-align: center;
  border-radius: 5px;
}
.grey .form-contact form label {
  font-size: 18px;
  color: #000;
}
.grey .form-contact form input {
  height: 20px;
  width: 70%;
  background-color: rgb(217, 217, 217);
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
.grey .form-contact form input:hover {
  border: #000 solid 2px;
}
.grey .form-contact form textarea {
  height: auto;
  width: 70%;
  background-color: rgb(217, 217, 217);
  border: none;
  border-radius: 5px;
  resize: none;
}
.grey .form-contact form textarea:hover {
  border: #000 solid 2px;
}
.grey .form-contact form .enviar {
  height: 5%;
  width: 25%;
  border: #000 solid 2px;
  color: #fff;
  background-color: #91c612;
  color: #fff;
}
.grey .form-contact form .enviar:hover {
  border: #000 solid 2px;
  color: #91c612;
  background-color: #333;
}
.grey .support {
  color: #91c612;
  font-size: 20px;
  padding: 20px 15px 0 10px;
}
.grey ul .list-support {
  margin-left: 30px;
}

.pdp {
  margin-left: 0;
}
.pdp h2 {
  font-size: 20px;
  font-family: "NVIDIA Sans" sans serif;
  font-weight: bold;
}
.pdp ul {
  padding-left: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .element {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #333;
  padding: 0;
  justify-content: center;
}
.cards .element h3 {
  width: 100%;
  font-size: 20px;
  height: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.cards .element .card {
  margin: 10px 8px;
  height: 340px;
  width: 250px;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.15);
}
.cards .element .card .card-img-top {
  height: 170px;
  width: auto;
  max-width: 245px;
  margin: 0 auto;
}
.cards .element .card .card-body {
  padding: 15px;
  justify-content: center;
}
.cards .element .card .card-body .card-title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  height: 50px;
}
.cards .element .card .card-body .card-text {
  font-size: 16px;
  text-align: center;
}
.cards .element .card .card-body .btn {
  background-color: #91c612 !important;
  border: 1px solid #343636 !important;
  margin-left: 30px;
}
.cards .element .card .card-body .btn:hover {
  background-color: #343636 !important;
  border: 1px solid #91c612 !important;
}
.cards .element .card .card-body .btn:active {
  border: 1px solid #91c612 !important;
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .navbar {
    background-color: #343636;
    width: 375px;
    position: sticky;
  }
  .navbar-expand-md {
    padding: 0;
  }
  .navbar-expand-md .navbar-brand h1 {
    font-size: 28px;
  }
  .navbar-expand-md .navbar-toggler i {
    margin-right: 10px;
  }
  .carousel-indicators li {
    color: #fff;
    height: 15px;
  }
  .carousel-inner .carousel-item .banner {
    height: 180px;
    width: 375px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 180px;
  }
  .bgc-img {
    width: 375px;
  }
  .bgc-img .img-section {
    width: 375px;
    background-position: center;
  }
  .p-photos .tam-notes {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-procesadores {
    height: 130px;
    width: auto;
  }
  .p-photos .tam-graficas {
    height: 180px;
    width: auto;
  }
  .p-photos .tam-mother {
    height: 140px;
    width: auto;
  }
  .p-photos .tam-ddr4 {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-ddr5 {
    height: 120px;
    width: auto;
  }
  .p-photos .tam-storage {
    height: 150px;
    width: auto;
  }
  .p-photos .tam-nvme {
    height: 170px;
    width: auto;
  }
  .p-photos .tam-fuente {
    height: 120px;
    width: auto;
  }
  .p-photos .tam-refriaire {
    height: 160px;
    width: auto;
  }
  .p-photos .tam-refriliquid {
    height: 100px;
    width: auto;
  }
  .p-photos .tam-gabinetes {
    height: 160px;
    width: auto;
  }
  .p-photos .tam-monitores {
    height: 125px;
    width: auto;
  }
  .p-photos .tam-teclados {
    height: 100px;
    width: auto;
  }
  .p-photos .tam-mouses {
    height: 190px;
    width: auto;
  }
  .p-photos .tam-mousepad {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-auris {
    height: 150px;
    width: auto;
  }
  .cards .element .card {
    width: 300px;
  }
  .cards .element .card .card-body .btn {
    margin-left: 60px;
  }
  .bgc-pres {
    width: 375px;
  }
  .pres-bgc {
    width: 375px;
  }
  .img-pres {
    width: 375px;
    background-position: center;
  }
  .grey .contacto {
    font-size: 22px;
  }
  .grey .form-contact form label {
    font-size: 20px;
  }
  .pdp {
    width: 375px;
  }
  .pdp h2 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 575px) {
  .navbar-expand-md .navbar-brand h1 {
    margin-left: 10px;
    font-size: 30px;
  }
  .navbar-expand-md .navbar-toggler i {
    margin-right: 20px;
  }
  .carousel-indicators li {
    color: #fff;
    height: 15px;
  }
  .carousel-inner .carousel-item .banner {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 200px;
  }
  .slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-track {
    display: flex;
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    width: 4200px;
  }
  .slider .slide-track .slide {
    width: 150px;
    padding-left: 10px;
  }
  .slider .slide-track .slide img {
    width: 100%;
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-2100px);
      transform: translateX(-2100px);
    }
  }
  .p-title {
    font-size: 25px;
  }
  .p-subtitle {
    font-size: 20px;
  }
  .p-photos .tam-notes {
    height: 120px;
    width: auto;
  }
  .p-photos .tam-procesadores {
    height: 130px;
    width: auto;
  }
  .p-photos .tam-graficas {
    height: 180px;
    width: auto;
  }
  .p-photos .tam-mother {
    height: 140px;
    width: auto;
  }
  .p-photos .tam-ddr4 {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-ddr5 {
    height: 135px;
    width: auto;
  }
  .p-photos .tam-storage {
    height: 150px;
    width: auto;
  }
  .p-photos .tam-nvme {
    height: 180px;
    width: auto;
  }
  .p-photos .tam-fuente {
    height: 130px;
    width: auto;
  }
  .p-photos .tam-refriaire {
    height: 160px;
    width: auto;
  }
  .p-photos .tam-refriliquid {
    height: 100px;
    width: auto;
  }
  .p-photos .tam-gabinetes {
    height: 170px;
    width: auto;
  }
  .p-photos .tam-monitores {
    height: 130px;
    width: auto;
  }
  .p-photos .tam-teclados {
    height: 100px;
    width: auto;
  }
  .p-photos .tam-mouses {
    height: 190px;
    width: auto;
  }
  .p-photos .tam-mousepad {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-auris {
    height: 150px;
    width: auto;
  }
  .cards .element h3 {
    font-size: 22px;
  }
  .cards .element .card {
    width: 180px;
    height: 345px;
  }
  .cards .element .card .card-img-top {
    height: 130px;
    width: auto;
    max-width: 180px;
  }
  .cards .element .card .card-body .card-title {
    height: 75px;
  }
  .cards .element .card .card-body .btn {
    margin-left: 0;
  }
  .container-fluid .title-pres h3 {
    font-size: 22px;
  }
  .container-fluid .title-pres ul li {
    font-size: 18px;
  }
  .grey .contacto {
    font-size: 25px;
  }
  .grey .form-contact form label {
    font-size: 22px;
  }
  .pdp h2 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-expand-md .navbar-brand {
    margin-right: 8px;
  }
  .navbar-expand-md .navbar-brand h1 {
    font-size: 30px;
  }
  .navbar-expand-md .navbar-toggler i {
    margin-right: 20px;
  }
  .navbar-expand-md .collapse .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    padding: 5px;
  }
  .carousel-inner .carousel-item .banner {
    height: 270px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 270px;
  }
  .bgc-img .img-section {
    height: 220px;
  }
  .slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-track {
    display: flex;
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    width: 4480px;
  }
  .slider .slide-track .slide {
    width: 160px;
    padding-left: 10px;
  }
  .slider .slide-track .slide img {
    width: 100%;
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-2240px);
      transform: translateX(-2240px);
    }
  }
  #footer .container-fluid .foo ul.quick-links li a {
    font-size: 15px;
  }
  .p-title {
    font-size: 25px;
  }
  .p-subtitle {
    font-size: 20px;
  }
  .p-photos .tam-notes {
    height: 120px;
    width: auto;
  }
  .p-photos .tam-procesadores {
    height: 140px;
    width: auto;
  }
  .p-photos .tam-graficas {
    height: 170px;
    width: auto;
  }
  .p-photos .tam-mother {
    height: 130px;
    width: auto;
  }
  .p-photos .tam-ddr4 {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-ddr5 {
    height: 120px;
    width: auto;
  }
  .p-photos .tam-storage {
    height: 140px;
    width: auto;
  }
  .p-photos .tam-nvme {
    height: 190px;
    width: auto;
  }
  .p-photos .tam-fuente {
    height: 105px;
    width: auto;
  }
  .p-photos .tam-refriaire {
    height: 140px;
    width: auto;
  }
  .p-photos .tam-refriliquid {
    height: 100px;
    width: auto;
  }
  .p-photos .tam-gabinetes {
    height: 160px;
    width: auto;
  }
  .p-photos .tam-monitores {
    height: 130px;
    width: auto;
  }
  .p-photos .tam-teclados {
    height: 100px;
    width: auto;
  }
  .p-photos .tam-mouses {
    height: 190px;
    width: auto;
  }
  .p-photos .tam-mousepad {
    height: 100px;
    width: auto;
  }
  .p-photos .tam-auris {
    height: 160px;
    width: auto;
  }
  .cards .element h3 {
    font-size: 22px;
  }
  .cards .element .card {
    width: 336px;
    height: 340px;
  }
  .cards .element .card .card-img-top {
    height: 180px;
    width: auto;
    max-width: 330px;
  }
  .cards .element .card .card-body {
    padding: 5px;
  }
  .cards .element .card .card-body .card-title {
    height: 50px;
  }
  .cards .element .card .card-body .btn {
    margin-left: 90px;
  }
  .container-fluid .img-pres {
    height: 250px;
    width: 100%;
  }
  .container-fluid .title-pres h3 {
    font-size: 22px;
  }
  .container-fluid .title-pres ul li {
    font-size: 17px;
  }
  .title-serv {
    font-size: 25px;
  }
  .p-serv {
    font-size: 18px;
  }
  .servicios .serv .subtitle-serv h3 {
    font-size: 20px;
  }
  .grey {
    background-image: url(../files/bgcontacto.jpg);
    background-position: center;
  }
  .grey .contacto {
    font-size: 25px;
  }
  .grey .form-contact form label {
    font-size: 22px;
  }
  .support {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
  }
  ul .list-support {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
  }
  .pdp h2 {
    font-size: 25px;
  }
  .pdp strong {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .navbar-expand-md .navbar-brand h1 {
    margin-left: 30px;
    font-size: 35px;
  }
  .navbar-expand-md .navbar-toggler i {
    margin-right: 20px;
  }
  .navbar-expand-md .collapse .navbar-nav .nav-item .nav-link {
    font-size: 16px;
  }
  .navbar-expand-md .navbar-collapse {
    margin-right: 20px;
  }
  .carousel-inner .carousel-item .banner {
    height: 350px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 350px;
  }
  .bgc-img .img-section {
    background-color: #000;
    height: 250px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
  }
  .slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-track {
    display: flex;
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    width: 4480px;
  }
  .slider .slide-track .slide {
    width: 160px;
    padding-left: 10px;
  }
  .slider .slide-track .slide img {
    width: 100%;
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-2240px);
      transform: translateX(-2240px);
    }
  }
  .p-title {
    font-size: 27px;
  }
  .p-subtitle {
    font-size: 23px;
  }
  .p-p {
    font-size: 18px;
  }
  .p-photos .tam-notes {
    height: 150px;
    width: auto;
  }
  .p-photos .tam-procesadores {
    height: 170px;
    width: auto;
  }
  .p-photos .tam-graficas {
    height: 180px;
    width: auto;
  }
  .p-photos .tam-mother {
    height: 160px;
    width: auto;
  }
  .p-photos .tam-ddr4 {
    height: 120px;
    width: auto;
  }
  .p-photos .tam-ddr5 {
    height: 150px;
    width: auto;
  }
  .p-photos .tam-storage {
    height: 155px;
    width: auto;
  }
  .p-photos .tam-nvme {
    height: 180px;
    width: auto;
  }
  .p-photos .tam-fuente {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-refriaire {
    height: 180px;
    width: auto;
  }
  .p-photos .tam-refriliquid {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-gabinetes {
    height: 210px;
    width: auto;
  }
  .p-photos .tam-monitores {
    height: 160px;
    width: auto;
  }
  .p-photos .tam-teclados {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-mouses {
    height: 220px;
    width: auto;
  }
  .p-photos .tam-mousepad {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-auris {
    height: 190px;
    width: auto;
  }
  .cards .element h3 {
    font-size: 22px;
  }
  .cards .element .card {
    margin: 10px 8px;
    width: 230px;
    height: 330px;
  }
  .cards .element .card .card-img-top {
    height: 160px;
    width: auto;
    max-width: 230px;
  }
  .cards .element .card .card-body .card-title {
    height: 50px;
  }
  .cards .element .card .card-body .btn {
    margin-left: 20px;
  }
  .container-fluid .img-pres {
    height: 280px;
    width: 100%;
  }
  .container-fluid .title-pres h3 {
    font-size: 25px;
  }
  .container-fluid .title-pres ul li {
    font-size: 18px;
  }
  .title-serv {
    font-size: 30px;
  }
  .p-serv {
    font-size: 20px;
  }
  .servicios .serv .subtitle-serv h3 {
    font-size: 27px;
  }
  .servicios .serv .subtitle-serv p {
    font-size: 18px;
  }
  .grey {
    background-image: url(../files/bgcontacto.jpg);
    background-position: center;
  }
  .grey .contacto {
    font-size: 25px;
  }
  .grey .form-contact form label {
    font-size: 22px;
  }
  .support {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
  }
  ul .list-support {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
  }
  .pdp {
    padding: 0 0 0 20px;
  }
  .pdp h2 {
    font-size: 27px;
  }
  .pdp strong {
    font-size: 18px;
  }
  .pdp ul {
    padding: 0 0 0 20px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
  .navbar-expand-md .navbar-brand h1 {
    margin-left: 30px;
    font-size: 40px;
  }
  .navbar-expand-md .navbar-toggler i {
    margin-right: 20px;
  }
  .navbar-expand-md .collapse .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
  .navbar-expand-md .navbar-collapse {
    margin-right: 30px;
  }
  .carousel-inner .carousel-item .banner {
    height: 450px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 450px;
  }
  .bgc-img .img-section {
    height: 370px;
  }
  .bgc-img .title-i-section h3 {
    font-size: 20px;
  }
  .bgc-img .title-i-section p {
    font-size: 18px;
  }
  .bgc-img .title-i-section a {
    font-size: 18px;
  }
  .slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-track {
    display: flex;
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    width: 4760px;
  }
  .slider .slide-track .slide {
    width: 170px;
    padding-left: 20px;
  }
  .slider .slide-track .slide img {
    width: 100%;
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-2380px);
      transform: translateX(-2380px);
    }
  }
  #footer {
    justify-content: center;
  }
  #footer .container-fluid .foo {
    padding: 0 40px;
  }
  #footer .container-fluid .foo h5 {
    font-size: 25px;
  }
  #footer .container-fluid .social .list-inline-item .fa-brands {
    font-size: 30px;
    margin-left: 20px;
  }
  #footer .container-fluid .social .list-inline-item .fa-brands:hover {
    font-size: 40px;
  }
  #footer .container-fluid ul.quick-links li a {
    font-size: 20px;
  }
  #footer .container-fluid p {
    font-size: 20px;
  }
  .p-title {
    font-size: 30px;
  }
  .p-subtitle {
    font-size: 25px;
  }
  .p-p {
    font-size: 20px;
  }
  .p-photos .tam-notes {
    height: 150px;
    width: auto;
  }
  .p-photos .tam-procesadores {
    height: 170px;
    width: auto;
  }
  .p-photos .tam-graficas {
    height: 175px;
    width: auto;
  }
  .p-photos .tam-mother {
    height: 160px;
    width: auto;
  }
  .p-photos .tam-ddr4 {
    height: 120px;
    width: auto;
  }
  .p-photos .tam-ddr5 {
    height: 150px;
    width: auto;
  }
  .p-photos .tam-storage {
    height: 155px;
    width: auto;
  }
  .p-photos .tam-nvme {
    height: 170px;
    width: auto;
  }
  .p-photos .tam-fuente {
    height: 130px;
    width: auto;
  }
  .p-photos .tam-refriaire {
    height: 180px;
    width: auto;
  }
  .p-photos .tam-refriliquid {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-gabinetes {
    height: 200px;
    width: auto;
  }
  .p-photos .tam-monitores {
    height: 170px;
    width: auto;
  }
  .p-photos .tam-teclados {
    height: 110px;
    width: auto;
  }
  .p-photos .tam-mouses {
    height: 200px;
    width: auto;
  }
  .p-photos .tam-mousepad {
    height: 130px;
    width: auto;
  }
  .p-photos .tam-auris {
    height: 200px;
    width: auto;
  }
  .cards .element h3 {
    font-size: 25px;
  }
  .cards .element .card {
    margin: 10px 8px;
    width: 210px;
    height: 330px;
  }
  .cards .element .card .card-img-top {
    height: 150px;
    width: auto;
    max-width: 200px;
  }
  .cards .element .card .card-body .card-title {
    height: 55px;
  }
  .cards .element .card .card-body .btn {
    margin-left: 10px;
  }
  .container-fluid .img-pres {
    height: 280px;
    width: 100%;
  }
  .container-fluid .title-pres h3 {
    font-size: 25px;
  }
  .container-fluid .title-pres ul li {
    font-size: 20px;
  }
  .title-pres h3 {
    font-size: 20px;
  }
  .title-pres p {
    font-size: 18px;
  }
  .title-pres a {
    font-size: 18px;
  }
  .title-serv {
    font-size: 32px;
  }
  .p-serv {
    font-size: 20px;
  }
  .servicios .serv {
    height: 500px;
  }
  .servicios .serv .subtitle-serv h3 {
    font-size: 30px;
  }
  .servicios .serv .subtitle-serv p {
    font-size: 22px;
  }
  .grey {
    background-image: url(../files/bgcontacto.jpg);
    background-position: center;
  }
  .grey .contacto {
    font-size: 25px;
  }
  .grey .form-contact form label {
    font-size: 22px;
  }
  .grey .form-contact form .enviar {
    width: 40%;
  }
  .support {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
  }
  ul .list-support {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
  }
  .pdp {
    padding: 0 0 0 20px;
  }
  .pdp h2 {
    font-size: 30px;
  }
  .pdp strong {
    font-size: 20px;
  }
  .pdp ul {
    padding: 0 0 0 20px;
  }
}
@media only screen and (min-width: 2560px) {
  .navbar-expand-md .navbar-brand {
    height: 150px;
  }
  .navbar-expand-md .navbar-brand h1 {
    margin-left: 30px;
    font-size: 65px;
    line-height: 140px;
  }
  .navbar-expand-md .navbar-toggler i {
    margin-right: 20px;
  }
  .navbar-expand-md .collapse .navbar-nav .nav-item .nav-link {
    font-size: 30px;
  }
  .navbar-expand-md .navbar-collapse {
    margin-right: 30px;
  }
  .carousel-inner .carousel-item .banner {
    height: 800px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 800px;
  }
  .carousel-control-next .carousel-control-next-icon,
  .carousel-control-next .carousel-control-prev-icon,
  .carousel-control-prev .carousel-control-next-icon,
  .carousel-control-prev .carousel-control-prev-icon {
    height: 80px;
    width: 40px;
  }
  .bgc-img .img-section {
    height: 600px;
  }
  .bgc-img .title-i-section h3 {
    font-size: 40px;
  }
  .bgc-img .title-i-section p {
    font-size: 25px;
  }
  .bgc-img .title-i-section a {
    font-size: 25px;
  }
  .slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-track {
    display: flex;
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    width: 7000px;
  }
  .slider .slide-track .slide {
    width: 250px;
    padding-left: 20px;
  }
  .slider .slide-track .slide img {
    width: 100%;
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-3500px);
      transform: translateX(-3500px);
    }
  }
  #footer {
    justify-content: center;
  }
  #footer .container-fluid .foo {
    padding: 0 120px;
  }
  #footer .container-fluid .foo h5 {
    font-size: 45px;
  }
  #footer .container-fluid .social .list-inline-item .fa-brands {
    font-size: 60px;
    margin-left: 20px;
  }
  #footer .container-fluid .social .list-inline-item .fa-brands:hover {
    font-size: 80px;
  }
  #footer .container-fluid ul.quick-links li a {
    font-size: 35px;
  }
  #footer .container-fluid p {
    font-size: 35px;
  }
  .p-bg-gray {
    height: 500px;
  }
  .p-bg-white {
    height: 500px;
  }
  .p-title {
    font-size: 50px;
  }
  .p-subtitle {
    font-size: 40px;
  }
  .p-p {
    font-size: 30px;
  }
  .p-photos .tam-notes {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-procesadores {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-graficas {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-mother {
    height: 250px;
    width: auto;
  }
  .p-photos .tam-ddr4 {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-ddr5 {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-storage {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-nvme {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-fuente {
    height: 250px;
    width: auto;
  }
  .p-photos .tam-refriaire {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-refriliquid {
    height: 250px;
    width: auto;
  }
  .p-photos .tam-gabinetes {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-monitores {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-teclados {
    height: 250px;
    width: auto;
  }
  .p-photos .tam-mouses {
    height: 300px;
    width: auto;
  }
  .p-photos .tam-mousepad {
    height: 250px;
    width: auto;
  }
  .p-photos .tam-auris {
    height: 300px;
    width: auto;
  }
  .cards .element h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .cards .element .card {
    width: 390px;
    height: 520px;
    margin: 15px 12px;
  }
  .cards .element .card .card-img-top {
    height: 270px;
    width: auto;
    max-width: 370px;
  }
  .cards .element .card .card-body .card-title {
    font-size: 30px;
    height: 95px;
  }
  .cards .element .card .card-body .card-text {
    font-size: 25px;
  }
  .cards .element .card .card-body .btn {
    font-size: 27px;
    margin-left: 60px;
  }
  .container-fluid .img-pres {
    height: 500px;
  }
  .container-fluid .title-pres h3 {
    font-size: 40px;
  }
  .container-fluid .title-pres ul li {
    font-size: 30px;
  }
  .container-fluid .title-pres a {
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .title-serv {
    font-size: 50px;
  }
  .p-serv {
    font-size: 40px;
  }
  .servicios .serv {
    height: 900px;
  }
  .servicios .serv .subtitle-serv h3 {
    font-size: 45px;
  }
  .servicios .serv .subtitle-serv p {
    font-size: 35px;
  }
  .grey {
    background-image: url(../files/bgcontacto.jpg);
    background-position: center;
  }
  .grey .contacto {
    font-size: 45px;
  }
  .grey .form-contact form {
    height: 700px;
  }
  .grey .form-contact form label {
    font-size: 30px;
  }
  .grey .form-contact form input {
    height: 30px;
  }
  .grey .form-contact form textarea {
    height: 200px;
  }
  .grey .form-contact form .enviar {
    height: 6%;
    width: 40%;
    font-size: 25px;
  }
  .grey .support {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    font-size: 45px;
  }
  .grey ul .list-support {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    font-size: 30px;
  }
  .pdp {
    padding: 0 0 0 40px;
  }
  .pdp h2 {
    font-size: 50px;
  }
  .pdp strong {
    font-size: 35px;
  }
  .pdp p {
    font-size: 30px;
  }
  .pdp ul {
    padding: 0 0 0 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
